* {
    color: black;

    &.theme--dark {
        color: white !important;
    }
}

.dev-box {
    position: absolute;
    right: -50px;
    top: -10px;
    width: 100px;
    height: 20px;
    transform: rotate(45deg) translate(0%, 150%);
    background: #b32121;

    p {
        color: white
    }
}

.relative {
    position: relative;
}

.clear-background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: white;
    z-index: -100;
}

.main-text {
    text-decoration: none;
    font-size: 16px;
    color: black;
}

.unselectable {
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+/Edge */
    user-select: none;
    /* Standard */
}

.disable-select,
.unselectable {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    * {
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
}


.v-dialog {
    border-radius: 0px;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @for $i from 1 through 100 {
        $i-prct: $i + '%';

        &.move-#{$i} {
            transform: translate(-50%, -#{$i-prct}) !important;
        }
    }
}


a.link {
    text-decoration: none;
    font-size: 16px;
    color: black;
    transition: 0.3s;
    text-align: start;
    max-width: 100px;
    padding: 0;
    transition: 0.15s;

    &:hover {
        color: rgb(22, 22, 22);
    }

    cursor: pointer;
}

.no-wrap {
    display: inline-block;
    height: 100%;
}

.custom-btn {
    border: 1px solid black;
    position: relative;
    color: black;
    margin: 6px;
    min-height: 32px;
    opacity: 1;
    min-width: 32px;
    padding: 0.5ex 2em;
    vertical-align: super !important;
    transition: 0.2s;

    .progress {
        position: absolute;
        left: 50%;
        top: 50%;
        width: 50%;
        transform: translate(-50%, -50%);
    }

    &.theme--dark {
        border: 1px solid white;
        color: white;

        * {
            color: white !important;
        }

        &.pressed,
        &:hover:enabled {
            border: 1px solid white;
            background: white;
            color: black !important;

            * {
                color: black !important;
            }
        }

        &.disabled {
            color: lightgrey;
            border: 1px solid lightgrey;

            * {
                color: lightgrey;
            }
        }

        &:hover.disabled {
            border: 1px solid lightgrey;
            background: lightgrey;
            color: lightgrey;

            * {
                color: lightgrey;
            }
        }

        &:focus {
            outline: 0;
        }
    }

    &.pressed,
    &:hover {
        border: 1px solid black;
        background: black;
        color: white;

        * {
            color: white;
        }
    }

    &.disabled {
        color: grey;
        border: 1px solid grey;

        * {
            color: grey;
        }
    }

    &:hover.disabled {
        background: lightgrey;
        cursor: default;
    }

    &:focus {
        outline: 0;
    }
}

.button_theme_dark .custom-btn {
    border: 1px solid white;
    color: white !important;

    * {
        color: white;
    }

    &.pressed,
    &:hover:enabled {
        border: 1px solid white;
        background: white;
        color: black;

        * {
            color: black;
        }
    }

    &:disabled {
        color: lightgrey;
        border: 1px solid lightgrey;

        * {
            color: lightgrey;
        }
    }

    &:hover:disabled {
        border: 1px solid lightgrey;
        background: lightgrey;
        color: black;

        * {
            color: black;
        }
    }

    &:focus {
        outline: 0;
    }
}

.brand {
    display: inline;
    word-spacing: -10px;

    &.theme--dark {
        color: white;
    }
}

.text_theme_dark {

    .brand,
    .h1,
    a {
        &:not(.ignore-theme) {
            color: white
        }
    }
}

p {
    margin: 0px;
}

.container {
    padding: 24px !important;
}

.v-icon {
    transform: translate(0.5px, 0.5px)
}

.force-overflow {
    min-height: 450px;
}

.block-height {
    height: 100%;
    max-height: 100%;
}

.view {
    position: relative;
}

#app {
    font-family: "FuturaBT", "Space Mono", Helvetica, Arial, sans-serif;
    background-color: transparent;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    // overflow: hidden;
}

.about-content {
    text-align: initial;
}

html {
    overflow: hidden;
}

body {
    background-size: cover;
    background-position: center;
    -webkit-transition: background-image 0.2s ease-in-out;
    transition: background-image 0.6s ease-in-out;
}