.ql-align-center {
  text-align: center;
}
.ql-align-right {
  text-align: right;
}
.ql-align-justify {
  text-align: justify;
}
.ql-size-large{
  font-size: 1.5em
}
.ql-size-small{
  font-size: 0.75em
}
.ql-size-huge{
  font-size: 2.5em
}


@for $i from 1 to 8 {
  .ql-indent-#{$i} {
    padding-left: calc(3em*#{$i});
  }
}